html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  background-color: #061017;
  color: #fff;
}

a {
  color: #0070f3;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

bold, strong {
  color: #ebdc98;
  font-weight: 500;
}

h1 {
  font-weight: 700;
}

pre, code {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  background-color: #fff;
  color: #061017;
  padding: 10px;

}